<!doctype html>
<html lang="en">
  <head>
    <title>{{.Title}} </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    
    <style>
      /*#number {
        width: 3em;
      }*/
      h1 {
        color: #009999;
        text-align: center
      }
      .btn {
        background-color: grey;
      }
      .form-control {
        margin-right: 10px;
      }
      .content {
        margin-right: 10px;
        margin-left: 10px;
      }
    </style>
  </head>
  <body>
    <!--<h1>Guessing Game</h1>-->
    <h1>{{.Title}}</h1>

    <div class="content">
      <!--<h4>Pick a number between 1 & 20:</h4>-->
      <h2>{{.Head2}}</h2>
    
      <form class="form-inline">
          <div class="form-group">
              <label for="guessInput" class="sr-only">Guess</label>
              
              <input type="number" name="guess" class="form-control" id="guessInput" placeholder="1 - 20" step="1" min="1" max="20">
          </div>
          <button type="submit" class="btn btn-primary">Guess</button>
      </form>

      <p>{{.Guess}}</p>

      <br/>

      <!--<a href="/guess">New Game</a>-->
      <button type="button" class="btn btn-primary">New Game</button>
    </div>

    <a href="http://www.gocookie.com/">GoCookies</a>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>